[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[project]
	description = Github pull request resource for Concourse
[access "refs/*"]
	owner = group user/davidwalter0
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/davidwalter0
	label-Verified = -1..+1 group user/davidwalter0
	push = group user/davidwalter0
	read = group user/davidwalter0
	rebase = group user/davidwalter0
	removeReviewer = group user/davidwalter0
	submit = group user/davidwalter0
[access "refs/heads/*"]
	create = group user/davidwalter0
	push = +force group user/davidwalter0
	pushMerge = group user/davidwalter0
	read = group user/davidwalter0
[access "refs/tags/*"]
	push = group user/davidwalter0
	push = +force group user/davidwalter0
